@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

nav,
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

nav h1 {
    font-size: 2em;
}

nav ul {
    list-style: none;
}

nav ul li a{
    color: #161616;
    text-decoration: none;
    font-size: 1.3em;
}

nav ul li {
    margin-left: 30px;
}

.main-nav ul li {
    position: relative;
}

.main-nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #ca3b3a;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s ease-in-out;
}

.main-nav ul li:hover::after {
    width: 100%;
}